body {
        font-family: 'PT Sans Caption', arial, serif;
}

#pageTitle {
        padding-top: 150px;
}

#services li {
	color: black;
        float: left;
	background: #bad4f2;
        border: solid #aaaaaa 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 10px;
        padding: 10px 5px;
        margin: 20px;
        text-align: center;
        font-size: 30px;
        -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
        -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
        -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
        box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
	-webkit-transition: background-color 0.4s ease-out;
	-webkit-transition: box-shadow 0.4s ease-out;
}

#services li:hover {
	background: #bdc8f3;
        -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
        -o-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
        box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
}	

#services li a:hover {
	text-decoration: none;
}

#services.column li {
	width: 75%;
	height: 150px;
}

#services.row li {
	width: 200px;
	height: 160px;
}

#services.row li .title {
        display: block;
}

#services li img {
        padding-top: 5px;
        height: 130px;
}

#services.column li .title {
	float: left;
	padding-left: 50px;
	padding-top: 57px;
}

#services.column li img {
	float: right;
	padding-right: 20px;
}

fieldset.concise label,
form.concise label {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

.span-10 fieldset.concise,
.span-10 form.concise fieldset {
	width: 400px;
}

.span-10 .buttonbar {
	width: 350px;
}

